APP_NAME=PgPOS-ERP
APP_ENV=production
APP_DEBUG=false
APP_URL=https://erpos.mitrasejatiberkah.com
APP_TIMEZONE=Asia/Jakarta
APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_SLOW_QUERY_THRESHOLD_MS=500
APP_SLOW_QUERY_LOG_SQLITE=false

APP_KEY=

LOG_CHANNEL=stack
LOG_STACK=single,alerts
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=pgpos_prod
DB_USERNAME=pgpos_prod_user
DB_PASSWORD=replace_me

CACHE_STORE=database
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=120

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public

MAIL_MAILER=smtp
MAIL_HOST=mail.your-domain.com
MAIL_PORT=587
MAIL_USERNAME=noreply@your-domain.com
MAIL_PASSWORD=replace_me
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@your-domain.com
MAIL_FROM_NAME="PgPOS ERP"

VITE_APP_NAME="${APP_NAME}"

